<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-bb-preferences" version="0.0.1">

    <name>Preferences</name>
    <description>Cordova Preferences Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,preferecens</keywords>

    <js-module src="preferences.js" name="preferences">

    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Preferences">
                <param name="android-package" value="br.com.bb.plugins.PreferencesPlugin" />
            </feature>
        </config-file>

        <source-file src="src/br/com/bb/plugins/PreferencesPlugin.java" target-dir="src/br/com/bb/plugins" />

    </platform>



</plugin>
